@page "/employeedetail/{EmployeeId:int}"

@using BlazorCrudApp.Model
@using BlazorCrudApp.Repository

@rendermode InteractiveServer

<div class="container">
    <div class="row heading">
        <h3>Employee Details</h3>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Govt ID</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.EmployeeGovtId</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Employee Name</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.EmployeeName</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.Age</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.Address</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.Salary</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">Designation</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.Designation</label>
            </div>
        </div>

        <div class="row mb-2">
            <label class="col-sm-2 col-form-label">HasDependents</label>
            <div class="col-sm-10">
                <label type="text" class="form-control">@EmployeeRecord.DisplayForDependents</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" @onclick="@NavigateToMain">Home</button>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger" @onclick="@DeleteEmployee">Delete Employee</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int EmployeeId { get; set; }

    public EmployeeRecord EmployeeRecord { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Inject]
    public IRepository<Employee> Repository { get; set; }

    protected override void OnInitialized()
    {
        Employee employee = new Employee();
        EmployeeRecord = new EmployeeRecord();
        employee = Repository.GetByID(EmployeeId);

        EmployeeRecord.EmployeeId = employee.EmployeeId;
        EmployeeRecord.Salary = employee.Salary;
        EmployeeRecord.Address = employee.Address;
        EmployeeRecord.EmployeeGovtId = employee.EmployeeGovtId;
        EmployeeRecord.EmployeeName = employee.EmployeeName;
        EmployeeRecord.Age = employee.Age;
        EmployeeRecord.Designation = employee.Designation;
        EmployeeRecord.HasDependents = employee.HasDependents.Value;
    }

    protected void NavigateToMain()
    {
        NavigationManager.NavigateTo("/");
    }

    protected void DeleteEmployee()
    {
        Employee employee = new Employee();
        employee = Repository.GetByID(EmployeeId);
        Repository.Delete(employee);
        NavigationManager.NavigateTo("/");
    }
}
